@use '../core/variables' as vars;

.page__footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; 
  padding: 1.5rem;
  background-color: black;
  color: vars.$color-secondary;
  text-align: center;
  font-size: 1.2rem;
  z-index: 10;
}

@media (min-width: 768px) {
  .page__footer {
    padding: 1rem 3rem;  
    font-size: 1.4rem;
  }
}

@media (min-width: 1024px) {
  .page__footer {
    padding: 1rem 5rem;  
    font-size: 1.4rem;
  }
}
