.page__header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); 
}

.header__logo img {
  width: 120px;
  display: block;
}

.nav__list {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

.nav__item a {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  font-weight: 500;
}


@media (min-width: 768px) {
  .page__header {
    flex-direction: row;
    justify-content: space-between;
    height: 90px; 
    padding: 0 1.5rem;
  }

  .header__logo img {
    width: 140px;
  }
}


@media (min-width: 1024px) {
  .header__logo img {
    width: 160px;
  }

  .nav__list {
    gap: 2rem;
  }
}



