.page__header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: white;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center; /* centra horizontalmente */
  padding: 0.5rem 0;
  margin: 0;
  gap: 0.5rem;
}

.header__logo img {
  max-width: 1500px; /* tamaño base para mobile */
  width: 70%;
  display: block;
  margin: 0 auto;
}

.nav__list {
  display: flex;
  justify-content: center; /* Centra los links */
  gap: 2rem;
  padding: 0;
  margin: 0; /* Sin margen */
  list-style: none;
  width: auto; /* No ocupe todo el ancho para no estirar los links */
}

.nav__item a {
  text-decoration: none;
  color: inherit;
   font-size: 1rem; 
}

@media (min-width: 768px) {
  .page__header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.80rem 1.5rem; /* un poco más de aire en laterales */
  }

  /* El contenedor del nav debe ocupar solo lo necesario */
  .header__nav-container {
    width: auto;
  }
   .header__logo img {
    max-width: 180px;
  }
}
@media (min-width: 1024px) {
   .header__logo img {
    max-width: 200px;
  }

  .nav__list {
    gap: 2.5rem; /* mayor separación entre links */
  }
}



