.page__main {
  height: 100dvh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url('/images/background.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;  
  display: flex;
  justify-content: flex-start;  
  align-items: center;
  color: white;
  text-align: left;
}

  .main__title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.2;
  max-width: 20rem;
  margin-left: 1.6rem;
}

@media (min-width: 768px) {
   .main__title{
    font-weight: 700;
    font-size: 2.5rem;
  }
}


@media (min-width: 1024px) {
   .main__title{
    font-weight: 900;
    font-size: 3.1rem;
  }
}

