.page__main {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-image: url('/images/background.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;  // Cambiado a cover para cubrir toda el área
  /* background-color: black; */  // Eliminado para quitar fondo negro
  display: flex;
  justify-content: flex-start;  // alineado a la izquierda
  align-items: center;
  color: white;
  text-align: left;
}

  .main__title {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.2;
  max-width: 300px; // para controlar el ancho del texto
  margin-left: 2.5rem;
}


@media (min-width: 768px) {
  .page__main {
    background-size: cover;
  }
}

@media (min-width: 1024px) {
  .page__main {
    background-size: cover;
  }
}

