<header class="page__header">
  <div class="header__logo">
    <img src="/images/logo-adalab.png" alt="Adalab" />
  </div>
  <div class="header__nav-container">
    <nav class="header__nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="https://adalab.es/blog" target="_blank" rel="noopener">BLOG</a>
        </li>
        <li class="nav__item">
          <a href="https://adalab.es/contacto" target="_blank" rel="noopener">CONTACTO</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
